.App-manager-main-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.add-btn {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  border: 2px dotted var(--primary-color);
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: all 0.5s;
}

.add-btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.add-btn span {
  margin-top: 0.5rem;
  font-weight: bold;
}

/* --- create user page css --- */

.Create_user-page {
  background-color: var(--light-primary-color);
  padding: 2rem;
  border-radius: 0.2rem;
  margin-top: 2rem;
  width: 50%;
}

.user-head {
  border-bottom: 1px solid var(--light-primary-color);
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.Create_user-input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.Create_user-input input:not([type="file"]),
.user_select {
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  border: none;
  /* border: 1px solid var(--primary-color); */
  margin: 0.4rem 0;
}

.image-input {
  padding: 0.5rem 0;
}

.Create_user-input label {
  font-size: 0.85rem;
}

.Create_user-input input:focus {
  outline: 1px solid var(--dark-primary-color);
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.comman-btn {
  padding: 0.5rem 0.75rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.2rem;
  transition: all 0.3s;
}

.comman-btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.user-image {
  border-radius: 50%;
}

.err-msg {
  color: var(--red-color);
  font-size: 0.8rem;
}

/* ---user-page css--- */

.user-list {
  display: flex;
  flex-basis: 15rem;
  flex-wrap: wrap;
}

.user-list-component {
  width: 15rem;
  background-color: var(--light-primary-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px -5px var(--dark-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list-component span {
  color: var(--dark-primary-color);
  padding: 0.5rem 0;
}

.edit-link {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.2rem;
  transition: all 0.5s;
}

.edit-link:hover {
  background-color: var(--white-color);
  color: var(--dark-primary-color);
}
