.Navbar {
  padding: 1.25rem;
  border-bottom: 0.5px solid var(--light-primary-color);
}

.Navbar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.Navbar_list .fa-bars {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
  transition: all 0.5s;
}

.Navbar_list .fa-bars:hover {
  background-color: var(--dark-primary-color);
}

.Navbar_list a {
  text-decoration: none;
}

.Navbar_list-logout a {
  color: var(--red-color);
  transition: all 0.3s;
}

.Navbar_list-logout a:hover {
  color: var(--dark-red-color);
}

.Navbar_list-logout a span {
  padding-left: 0.5rem;
}

.toggleActive .Sidebar {
  width: 4rem;
}

/*--- Side bar css ---*/

.Sidebar {
  width: 18rem;
  background-color: var(--primary-color);
  height: 100%;
  min-height: 100vh;
  color: var(--white-color);
}

.Sidebar_list-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.Sidebar_img_container {
  width: 4rem;
  margin-bottom: 0.5rem;
}

.Sidebar_img_container img {
  width: 100%;
  color: var(--white-color);
}

.Sidebar_list-component {
  padding: 0.75rem;
  transition: all 0.5s;
}

.Sidebar_list-component:hover {
  background-color: var(--dark-primary-color);
}

.Sidebar_list-component a,
.Sidebar_list-head a {
  text-decoration: none;
  color: var(--white-color);
  display: block;
}

.Sidebar_list-component a span {
  padding-left: 0.75rem;
}
