.Navbar {
  padding: 1.25rem;
  border-bottom: 0.5px solid var(--light-primary-color);
}

.Navbar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.Navbar_list .fa-bars {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
}

.Navbar_list .fa-bars:hover {
  background-color: var(--dark-primary-color);
}

.Navbar_list a {
  text-decoration: none;
}

.Navbar_list-logout a {
  color: var(--red-color);
}

.Navbar_list-logout a span {
  padding-left: 0.5rem;
}
